.chart-container {
	position: absolute;
	top: 60px;
	left: 20px;
	right: 20px;
	bottom: 20px;
  overflow: hidden;
}

.back {
  z-index: -1;
}

.chart {
    position: absolute;
}

.cell {
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}

.legend {
  position: absolute;
  top: 60px;
  right: 50px;
  list-style-type: square;
}