.chart-container {
	position: absolute;
	top: 60px;
	left: 20px;
	right: 20px;
	bottom: 20px;
}

.back {
  z-index: -10;
}

.chart {
    position: relative;
}

.cell {
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}
