.nav {
    margin-bottom: 1em;
}

.nav button {
    float: left;
}

#chart {
    position: relative;
}

.cell {
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}
